
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" href="css/musicPlayer.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/player.js"></script>

   <title>Music Shop</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="style.scss">-->

    <!--<link rel="stylesheet" href="css/app.css">-->
    <!--<link rel="stylesheet" href="css/font.css">-->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div id="app">
    <% myHtml %>
</div>
<script src="bundle.js"></script>

</body>
</html>
