.brand-animate {
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;

    transform-origin: 24px 24px;
    -webkit-transform-origin: 24px 24px;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;

    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.pace-running .brand-animate{
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.pace-done .brand-animate{
    opacity: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.equal-height-thumbnail {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}
.equal-height-thumbnail li {
    width: 22%;
    margin: 0 1% 20px;
    padding:0 0.5%;
    background: #FFF;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
.equal-height-thumbnail figure {
    display: block;
    margin: 5px 0;
    padding: 0;
}
.equal-height-thumbnail figure img{
    /*width: auto;*/
    height: 175px;
    width:100%;
}
.caption {
    padding: 2%;
}

@media only screen and (max-width: 990px) {
    .equal-height-thumbnail li {
        width: 30.2%;
    }
}@media only screen and (max-width: 767px) {
    .equal-height-thumbnail li {
        width: 46.5%;
    }
}

.page-content{
    margin-top: 70px;
}
